{
    "version": "1.0.0",
    "hook": {
        "path": "/opt/sarus/bin/timestamp_hook",
        "env": [
            "TIMESTAMP_HOOK_MESSAGE={{ env("TIMESTAMP_HOOK_MESSAGE") }}"
        ]
    },
    "when": {
        "always": true
    },
    "stages": ["prestart"]
}