{
    "securityChecks": true,
    "OCIBundleDir": "/opt/sarus/var/OCIBundleDir",
    "rootfsFolder": "rootfs",
    "prefixDir": "/opt/sarus",
    "hooksDir": "/opt/sarus/etc/hooks.d",
    "tempDir": "/tmp",
    "localRepositoryBaseDir": "/shared/sarus",
    "centralizedRepositoryDir": "/shared/sarus",
    "mksquashfsPath": "/usr/sbin/mksquashfs",
    "runcPath": "/opt/sarus/bin/runc.amd64",
    "ramFilesystemType": "tmpfs",
    "initPath": "/bin/tini",
    "siteMounts": 
    [{% set list1 = env("EXTRA_MOUNTS").split(';') %}{% for item in list1 %}{
            "type": "bind",
            "source": "{{ item }}",
            "destination": "{{ item }}",
            "flags": {}
    },{% endfor %}{
            "type": "bind",
            "source": "/home",
            "destination": "/home",
            "flags": {}
    }]
}